<h1>Photo Albums</h1>

<p><a href="/search">Search Photos</a></p>

<link rel="stylesheet" href="/styles/gallery.css">

<ul>
{{#each albums}}
    <li><a href="/album/{{id}}">{{name}}</a></li>
{{/each}}
</ul>

<p>
Logged in as: {{user.name}} | <a href="/logout">Logout</a>
</p>
