<h1>Photo Albums</h1>

<ul>
{{#each albums}}
    <link rel="stylesheet" href="public/styles/gallery.css">
    <li><a href="/album/{{id}}">{{name}}</a></li>
{{/each}}
</ul>

<p>
Logged in as: {{user.name}} | <a href="/logout">Logout</a>
</p>
