<h1>Photo Albums</h1>
<ul>
    {{#each albums}}
        <li><a href="/album/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>
<a href="/routes/handlers.js/signup">Sign Up</a> | <a href="/routes/handlers.js/login">Login</a>